$color-primary: #000;
$color-alt: #12AB6A;
$color-alt-light: #D0FBDF;
$color-alt-dark: #4EAC83;
$color-mode-bg:white;
$color-mode-opposite:black;
$color-mode-gray:rgba(0, 0, 0, 0.1);
$color-mode-darkgray:rgba(0, 0, 0, 0.3);
$font-main: 'Karla', sans-serif;

html {
   scroll-behavior: smooth;
}
body {
   background:url(assets/background.png)
    no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: $font-main;

   padding: 1.5em;
   color: $color-mode-opposite;
}

.layer1 {  //body -just for centering shit
   display: grid;
   grid-gap: 2rem;
   max-width: 1920px;
   margin: 0 auto;
   padding-top: 2rem;
}
.layer2 {   //state1:columns, state2:rows //more forgiving (2) states
   display: grid;
   grid-gap: 2rem;
}
.layer3_2 {   //state1:columns state2:rows //less forgiving (3 states)
   display: grid;
}

a {
   color: inherit;
   text-decoration: none;
}

#anchor_home {
   position: absolute;
   left: 0;
   top: 0;
}
#anchor_floating {
   position: absolute;
   top: -120px;
   right: 0;
}

#welcome {
   width: 500px;
   font-size: 50px;
   font-weight: 700;
}
#day {
   color: $color-alt;
}
.label {
   font-size: 25px;
   margin-bottom: 1rem;
}

#btn_newtag {
   width: 100px;
   padding: 1.2rem 1.4rem 1.5rem 1.2rem;
   margin-right: 1.5rem;
   background: $color-mode-gray;
   border-radius: 16px;
   text-align: center;
   padding-top: 50px;

   &:hover {
      background: $color-mode-darkgray;
      cursor: pointer;
      -webkit-transition: background 0.3s ease;
      -moz-transition: background 0.3s ease;
      -o-transition: background 0.3s ease;
      transition: background 0.3s ease;
   }
}

.category_cont {
   display: flex;
   overflow-x: scroll;
   scroll-behavior: smooth;
   padding: 1.2rem 0.1rem;

   .category_item {
      width: 100px;
      padding: 1.2rem 1.4rem 1.5rem 1.2rem;
      margin-right: 1.5rem;
      background: $color-mode-bg;
      box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
      border-radius: 16px;
      outline: 0.5px solid $color-mode-bg;
      .title {
         font-size: 17px;
         padding-bottom: 1em;
      }
      .percent {
         font-size: 18px;
         display: block;
      }
      .loading {
         margin-top: 10px;
      }
      .progress {
         position: relative;
         width: 100%;
         height: 2px;
         border-radius: 6px;
         box-shadow: 2px 2px 1px 0px $color-mode-gray;
      }
      .bar {
         position: absolute;
         width: 1%;
         height: 2px;
         background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.5));
         background: $color-mode-opposite;
      }
   }
   .category_item:hover {
      cursor: pointer;
      outline: 0.5px solid gray;
      box-shadow: none;
      -webkit-transition: box-shadow 0.3s ease, outline 0.3s ease;
      -moz-transition: box-shadow 0.3s ease, outline 0.3s ease;
      -o-transition: box-shadow 0.3s ease, outline 0.3s ease;
      transition: box-shadow 0.3s ease, outline 0.3s ease;
   }
}

#btn_newtask {
   min-width: 360px;
   padding: 1.2rem;
   margin-bottom: 1.5rem;
   background: $color-mode-gray;
   border-radius: 16px;
   font-size: 17px;
   text-align: center;
   &:hover {
      background: $color-mode-darkgray;
      cursor: pointer;
      -webkit-transition: background 0.3s ease;
      -moz-transition: background 0.3s ease;
      -o-transition: background 0.3s ease;
      transition: background 0.3s ease;
   }
}

.task_item {
   min-width: 360px;
   padding: 1.2rem;
   margin-bottom: 1.5rem;
   background: $color-mode-bg;
   box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
   border-radius: 16px;
   outline: 3px solid $color-mode-bg;

   .title {
      font-size: 18px;
      margin-left: 3px;
   }
   .date {
      font-size: 18px;
      float:right;
   }
   .circle {
      display: inline-block;
      outline: 2px solid $color-mode-opposite;
      border-radius:7px;
      width: 13px;
      height: 13px;
      margin-right: 3px;
      cursor: pointer;
      &:hover {
         background-color: $color-mode-gray;
         outline: 2px solid $color-alt-dark;
         -webkit-transition: outline 0.2s ease, background 0.2s ease;
         -moz-transition: outline 0.2s ease, background 0.2s ease;
         -o-transition: outline 0.2s ease, background 0.2s ease;
         transition: outline 0.2s ease, background 0.2s ease;
      }
   }

   &:hover {
      background: $color-alt-light;
      outline: 3px solid $color-alt-dark;
      box-shadow: none;
      cursor: pointer;
      -webkit-transition: background 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
      -moz-transition: background 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
      -o-transition: background 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
      transition: background 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
   }
}

.floating {
   position: absolute;
   left: 100%;
   right: 0;
   top: 25%;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

#new_item {
   display: none;     //------------------------------variable
   max-width: 380px;
   margin: 0 auto;
   padding: 3rem 2.9rem 0 3rem;

   border-radius: 20px;
   background-color: $color-mode-bg;
}

#item_detail {
   display: none;    //-------------------------------variable
   max-width: 380px;
   margin: 0 auto;
   padding: 40px 40px 0px 40px;
   font-size: 20px;

   border-radius: 20px;
   background-color: $color-mode-bg;
   .icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      color: $color-mode-darkgray;
   }
   .delete:hover {
      color: red;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
   }
   .edit:hover {
      color: blue;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
   }

   .title {
      font-size: 33px;
      margin-bottom: 13px;
   }
   .date {
      margin-bottom: 10px;
   }
   .tag_group {
      display: flex;
      .folder {
         margin-right: 6px;
      }
   }
}

#new_tag {
   display: none;     //------------------------------variable
   max-width: 380px;
   margin: 0 auto;
   padding: 3rem 2.9rem 0 3rem;

   border-radius: 20px;
   background-color: $color-mode-bg;
}

input, select {
   appearance: none;
   width: 92%;
   padding: 0.8rem;
   margin-bottom: 1.2rem;
   margin-top: 5px;
   background-color: $color-mode-gray;
   border: none;
   border-radius: 10px;
}
select {
   width: 98%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
button {
   appearance: none;
   width: 230px;
   padding: 13px;
   border: 0;
   border-radius: 15px;

   outline: 3px solid $color-mode-opposite;
   background-color: $color-mode-opposite;
   color: $color-mode-bg;

   position: relative;
   bottom:-45px;
   left: 50%;
   transform: translateX(-50%);

   font-size: 20px;

   &:hover {
      cursor: pointer;
      background-color: $color-alt-dark;
      outline: 3px solid $color-mode-gray;
      box-shadow: rgba(78, 172, 131, 0.4) 5px 5px, rgba(78, 172, 131, 0.3) 10px 10px, rgba(78, 172, 131, 0.2) 15px 15px, rgba(78, 172, 131, 0.1) 20px 20px, rgba(78, 172, 131, 0.05) 25px 25px;
      -webkit-transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
      -moz-transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
      -o-transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
      transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
   }
}

.back {
   font-size: 18px;
   text-align:center;
   position: relative;
   bottom: -60px;

   &:hover {
      text-decoration: underline;
   }
}

//------------------------------misc
::-webkit-scrollbar {
   display: none;
}

@media (min-width: 850px) { //larger than 600 px - TABLET
   #welcome {
      width: auto;
   }
   .layer1 {
      padding: 5rem 1rem;
   }
   #layer22 {
      grid-template-columns: 1fr 2fr;
   }
   .category_cont {
      flex-direction: column;
      padding: -1.2rem;
   }
   .category_item, #btn_newtag {
      min-width: 280px;
      margin-bottom: 1.5rem;
      padding-top: 25px;

      .title {
         font-size: 19px;
      }
      .percent {
         font-size: 19px;
         float:right;
      }
   }
}
@media (min-width: 1000px) { //larger than 900 px - DESKTOP
   .layer1 {
      padding:5.5em 5em;
   }
   #layer22 {
      grid-template-columns: 1fr 2fr 3fr;
      grid-gap: 4em;
   }
   .floating {
      position: static;
      .new_item {
         min-width: 380px;
      }
      .item_detail {
         min-width: 380px;
      }
   }
}