html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100% !important;
}

body {
  background: url(assets/background.png) no-repeat center center fixed;
  background-size: cover;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: black;
  height: 100%;
  min-height: 100% !important;
}

.layer1 {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 95% !important;
  height: 95%;
}

.layer2 {
  display: -ms-grid;
  display: grid;
}

.layer2 #welcome {
  padding: 1rem;
  margin-top: 1.75rem;
  font-size: 45px;
  font-weight: 700;
}

.layer2 #welcome #day {
  color: #12AB6A;
}

.layer2 #welcome #date {
  display: block;
}

#layer22 {
  display: -ms-grid;
  display: grid;
  height: 80%;
}

.layer3_1 {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.layer3_1 .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.layer3_1 .category_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.layer3_1 .category_cont .category_item {
  min-width: 100px;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  border-radius: 16px;
  outline: 0.5px solid white;
}

.layer3_1 .category_cont .category_item .title {
  font-size: 16px;
  padding-bottom: 1em;
}

.layer3_1 .category_cont .category_item .percent {
  font-size: 16px;
  display: block;
}

.layer3_1 .category_cont .category_item .loading {
  margin: 10px 0px;
}

.layer3_1 .category_cont .category_item .progress {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
}

.layer3_1 .category_cont .category_item .bar {
  position: absolute;
  width: 1%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.01)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.5));
  background: black;
}

.layer3_1 .category_cont .category_item:hover {
  cursor: pointer;
  outline: 0.5px solid gray;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: box-shadow 0.3s ease, outline 0.3s ease;
  -webkit-transition: outline 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: outline 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, outline 0.3s ease;
  transition: box-shadow 0.3s ease, outline 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.layer3_1 #btn_newtag {
  min-width: 100px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-size: 16px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layer3_1 #btn_newtag:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.layer3_2 {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.layer3_2 .section {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.layer3_2 #task_list_today {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

.layer3_2 #task_list_today .task_item {
  padding: 0.9rem;
  background: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  border-radius: 16px;
  border: 3px solid white;
}

.layer3_2 #task_list_today .task_item span {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.layer3_2 #task_list_today .task_item .date {
  float: right;
}

.layer3_2 #task_list_today .task_item .circle {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 6px;
  cursor: pointer;
}

.layer3_2 #task_list_today .task_item .circle:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #4EAC83;
  -webkit-transition: border 0.2s ease, background 0.2s ease;
  transition: border 0.2s ease, background 0.2s ease;
}

.layer3_2 #task_list_today .task_item:hover {
  background: #D0FBDF;
  border: 3px solid #4EAC83;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: background 0.3s ease, border 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.layer3_2 #btn_newtask {
  display: inline-block;
  padding: 0.8rem;
  line-height: 1.5;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-size: 16px;
  text-align: center;
}

.layer3_2 #btn_newtask:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.layer3_2 #btn_newtask span {
  vertical-align: middle;
}

.floating {
  position: absolute;
  left: 100%;
  right: 0;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#new_item {
  display: none;
  margin: 0 auto;
  width: 360px;
}

#new_item .section {
  border-radius: 25px;
  background-color: white;
  padding: 50px 45px 45px 45px;
}

#item_detail {
  display: none;
  margin: 0 auto;
  width: 360px;
}

#item_detail .section {
  border-radius: 25px;
  background-color: white;
  padding: 40px 40px 55px 40px;
}

#item_detail .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.3);
}

#item_detail .delete:hover {
  color: red;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#item_detail .edit:hover {
  color: blue;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#item_detail .title {
  font-size: 26px;
  margin-bottom: 10px;
}

#item_detail .date {
  margin-bottom: 10px;
}

#item_detail .tag_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#item_detail .tag_group .folder {
  margin-right: 6px;
}

#new_tag {
  display: none;
  margin: 0 auto;
  width: 360px;
}

#new_tag .section {
  border-radius: 25px;
  background-color: white;
  padding: 50px 45px 45px 45px;
}

input, select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 92%;
  padding: 0.7rem;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}

select {
  width: 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  padding: 13px;
  border: 0;
  border-radius: 17px;
  position: relative;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  outline: 3px solid black;
  background-color: black;
  color: white;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #4EAC83;
  outline: 3px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: rgba(78, 172, 131, 0.4) 5px 5px, rgba(78, 172, 131, 0.3) 10px 10px, rgba(78, 172, 131, 0.2) 15px 15px, rgba(78, 172, 131, 0.1) 20px 20px, rgba(78, 172, 131, 0.05) 25px 25px;
          box-shadow: rgba(78, 172, 131, 0.4) 5px 5px, rgba(78, 172, 131, 0.3) 10px 10px, rgba(78, 172, 131, 0.2) 15px 15px, rgba(78, 172, 131, 0.1) 20px 20px, rgba(78, 172, 131, 0.05) 25px 25px;
  -webkit-transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: background-color 0.3s ease, outline 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, outline 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#anchor_home {
  position: absolute;
  left: 0;
  top: 0;
}

#anchor_floating {
  position: absolute;
  top: -200px;
  right: 0;
}

.label {
  font-size: 20px;
}

.back {
  font-size: 16px;
  text-align: center;
}

.back:hover {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 700px) {
  .layer2 #welcome {
    font-size: 46px;
    margin: 2rem 1.5rem 0rem 1.5rem;
  }
  .layer2 #welcome #date {
    display: inline-block;
  }
  #layer22 {
    -ms-grid-columns: 1.2fr 2fr;
        grid-template-columns: 1.2fr 2fr;
  }
  .layer3_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 1rem 0rem 2.5rem;
  }
  .layer3_1 .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layer3_1 .category_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
  }
  .layer3_2 {
    overflow: auto;
    padding: 1rem 2.5rem 0rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layer3_2 .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
  }
  .layer3_2 .section #task_list_today {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
  }
}

@media (min-width: 900px) {
  .layer2 #welcome {
    font-size: 46px;
  }
  .layer2 #welcome #date {
    display: inline-block;
  }
  #layer22 {
    -ms-grid-columns: 1fr 2.5fr 3.5fr;
        grid-template-columns: 1fr 2.5fr 3.5fr;
  }
  .layer3_2 {
    overflow: auto;
    padding: 1rem 1rem 0rem 1rem;
  }
  .floating {
    position: static;
  }
  #new_item, #item_detail, #new_tag {
    width: 300px;
  }
}

@media (min-width: 1100px) {
  .layer2 #welcome {
    margin: 4.3rem 3.5rem 0rem 4rem;
  }
  #layer22 {
    -ms-grid-columns: 2fr 3fr 5fr;
        grid-template-columns: 2fr 3fr 5fr;
    margin: 0rem 2rem;
  }
  .layer3_1 {
    padding: 1rem 1rem 0rem 3.5rem;
  }
  .layer3_1 .category_cont .category_item, .layer3_1 .category_cont #btn_newtag {
    min-width: 250px;
  }
  .layer3_1 .category_cont .category_item .title, .layer3_1 .category_cont #btn_newtag .title {
    display: inline;
  }
  .layer3_1 .category_cont .category_item .percent, .layer3_1 .category_cont #btn_newtag .percent {
    float: right;
    display: block;
    top: 1px;
  }
  .layer3_1 .category_cont .category_item .loading, .layer3_1 .category_cont #btn_newtag .loading {
    margin: 7px 0;
    margin-right: 0px;
  }
  .layer3_2 {
    padding: 1rem 2.5rem 0rem 1rem;
  }
  #new_item, #item_detail, #new_tag {
    width: 360px;
  }
}
/*# sourceMappingURL=main_styling.css.map */